.features {
  grid-column: center-start / center-end;

  margin: remcalc(15) 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(remcalc(25), 1fr));
  grid-gap: remcalc(6);
  align-items: start;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: remcalc(1.5) remcalc(2.5);

  &__icon {
    fill: $color-primary;
    width: remcalc(4.5);
    height: remcalc(4.5);
    grid-row: 1 / span 2;
    transform: translateY(remcalc(-1));
  }

  & > p {
    grid-area: 2 / 2;
    z-index: -1;
  }

  p.feature__text {
    z-index: 1;
    font-size: remcalc(1.7);
  }
}