# IntelliJ IDEA
.idea/*
!.idea/inspectionProfiles
!.idea/codeStyles
!.idea/vcs.xml
!.idea/modules.xml
!.idea/workspace.xml
!.idea/runConfigurations

db/*
logs/*
wp/*
wp-content/*

node_modules
build
dist
.env
*.db
*.sql