# ignore everything in the root except the "wp-content" directory.
/*
!wp-content/
!.gitignore
!README.md

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*

!wp-content/mu-plugins/
#wp-content/mu-plugins/*
#!wp-content/mu-plugins/fullstackdevelopment-post-types.php
#!wp-content/mu-plugins/university-post-types.php

!wp-content/plugins/
wp-content/plugins/*
!wp-content/plugins/myplugin

!wp-content/themes/
wp-content/themes/*
!wp-content/themes/fullstackdevelopment-theme

# ignore node dependency directories
node_modules/
package-lock.json

# ignore log files and databases
*.log
*.sql
*.sqlite