.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  padding: remcalc(8);

}

.nav {
  list-style: none;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(remcalc(15), 1fr));
  grid-gap: remcalc(2);
  align-items: center;

  &__link:link,
  &__link:visited {
    font-size: remcalc(1.4);
    color: #fff;
    text-decoration: none;
    font-family: $font-display;
    text-transform: uppercase;
    text-align: center;
    padding: remcalc(1.5);
    display: block;
    transition: all .2s;
  }

  &__link:hover,
  &__link:active {
    background-color: rgba(#fff, .05);
    transform: translateY(-3px);
  }
}

.copyright {
  font-size: remcalc(1.4);
  color: $color-grey-light-2;
  margin-top: remcalc(6);
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%;
}