/* cousine-regular - latin */
@font-face {
    font-family: "Cousine";
    src:
            url("./fonts/cousine-v25-latin-regular.woff2") format("woff2"),
            url("./fonts/cousine-v25-latin-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
/* cousine-700 - latin */
@font-face {
    font-family: 'Cousine';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/cousine-v25-latin-700.woff2') format('woff2'),
         url('./fonts/cousine-v25-latin-700.woff') format('woff');
    src: local('')
}
/* crimson-pro-200 - latin */
@font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 200;
    src: url('./fonts/crimson-pro-v21-latin-200.woff2') format('woff2'),
         url('./fonts/crimson-pro-v21-latin-200.woff') format('woff'); /* IE9 Compat Modes */
    src: local('')
}
/* crimson-pro-300 - latin */
@font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/crimson-pro-v21-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/crimson-pro-v21-latin-300.woff') format('woff'); /* IE9 Compat Modes */
    src: local('')
}
/* crimson-pro-regular - latin */
@font-face {
    font-family: "Crimson Pro";
    src:
            url("./fonts/crimson-pro-v21-latin-regular.woff2") format("woff2"),
            url("./fonts/crimson-pro-v21-latin-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
/* crimson-pro-500 - latin */
@font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/crimson-pro-v21-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/crimson-pro-v21-latin-500.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* crimson-pro-600 - latin */
@font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/crimson-pro-v21-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/crimson-pro-v21-latin-600.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* crimson-pro-700 - latin */
@font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/crimson-pro-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/crimson-pro-v21-latin-700.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* crimson-pro-800 - latin */
@font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 800;
    src: url('./fonts/crimson-pro-v21-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/crimson-pro-v21-latin-800.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* crimson-pro-900 - latin */
@font-face {
    font-family: 'Crimson Pro';
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/crimson-pro-v21-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/crimson-pro-v21-latin-900.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* crimson-pro-200italic - latin */
@font-face {
    font-family: 'Crimson Pro';
    font-style: italic;
    font-weight: 200;
    src: url('./fonts/crimson-pro-v21-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/crimson-pro-v21-latin-200italic.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* crimson-pro-300italic - latin */
@font-face {
    font-family: 'Crimson Pro';
    font-style: italic;
    font-weight: 300;
    src: url('./fonts/crimson-pro-v21-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/crimson-pro-v21-latin-300italic.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* crimson-pro-italic - latin */
@font-face {
    font-family: 'Crimson Pro';
    font-style: italic;
    font-weight: 400;
    src: url('./fonts/crimson-pro-v21-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/crimson-pro-v21-latin-italic.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* crimson-pro-500italic - latin */
@font-face {
    font-family: 'Crimson Pro';
    font-style: italic;
    font-weight: 500;
    src: url('./fonts/crimson-pro-v21-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/crimson-pro-v21-latin-500italic.woff') format('woff');
    src: local('')
}
/* crimson-pro-600italic - latin */
@font-face {
    font-family: 'Crimson Pro';
    font-style: italic;
    font-weight: 600;
    src: url('./fonts/crimson-pro-v21-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/crimson-pro-v21-latin-600italic.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* crimson-pro-700italic - latin */
@font-face {
    font-family: 'Crimson Pro';
    font-style: italic;
    font-weight: 700;
    src: url('./fonts/crimson-pro-v21-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/crimson-pro-v21-latin-700italic.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* crimson-pro-800italic - latin */
@font-face {
    font-family: 'Crimson Pro';
    font-style: italic;
    font-weight: 800;
    src: url('./fonts/crimson-pro-v21-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/crimson-pro-v21-latin-800italic.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* crimson-pro-900italic - latin */
@font-face {
    font-family: 'Crimson Pro';
    font-style: italic;
    font-weight: 900;
    src: url('./fonts/crimson-pro-v21-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/crimson-pro-v21-latin-900italic.woff') format('woff'); /* IE9 Compat Modes */
    src: local('')
}
/* dancing-script-regular - latin */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/dancing-script-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/dancing-script-v23-latin-regular.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* dancing-script-500 - latin */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/dancing-script-v23-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/dancing-script-v23-latin-500.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* dancing-script-600 - latin */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/dancing-script-v23-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/dancing-script-v23-latin-600.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* dancing-script-700 - latin */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/dancing-script-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/dancing-script-v23-latin-700.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* libre-franklin-100 - latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 100;
    src: url('./fonts/libre-franklin-v12-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/libre-franklin-v12-latin-100.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* libre-franklin-300 - latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/libre-franklin-v12-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/libre-franklin-v12-latin-300.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* libre-franklin-200 - latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 200;
    src: url('./fonts/libre-franklin-v12-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/libre-franklin-v12-latin-200.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* libre-franklin-regular - latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/libre-franklin-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/libre-franklin-v12-latin-regular.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* libre-franklin-500 - latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/libre-franklin-v12-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/libre-franklin-v12-latin-500.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* libre-franklin-600 - latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/libre-franklin-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/libre-franklin-v12-latin-600.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* libre-franklin-700 - latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/libre-franklin-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/libre-franklin-v12-latin-700.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* libre-franklin-800 - latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 800;
    src: url('./fonts/libre-franklin-v12-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/libre-franklin-v12-latin-800.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* libre-franklin-900 - latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/libre-franklin-v12-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/libre-franklin-v12-latin-900.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* libre-franklin-100italic - latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 100;
    src: url('./fonts/libre-franklin-v12-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/libre-franklin-v12-latin-100italic.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* libre-franklin-200italic - latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 200;
    src: url('./fonts/libre-franklin-v12-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/libre-franklin-v12-latin-200italic.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* libre-franklin-300italic - latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 300;
    src: url('./fonts/libre-franklin-v12-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/libre-franklin-v12-latin-300italic.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* libre-franklin-italic - latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 400;
    src: url('./fonts/libre-franklin-v12-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/libre-franklin-v12-latin-italic.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* libre-franklin-600italic - latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 600;
    src: url('./fonts/libre-franklin-v12-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/libre-franklin-v12-latin-600italic.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* libre-franklin-500italic - latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 500;
    src: url('./fonts/libre-franklin-v12-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
        url('./fonts/libre-franklin-v12-latin-500italic.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* libre-franklin-700italic - latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 700;
    src: url('./fonts/libre-franklin-v12-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/libre-franklin-v12-latin-700italic.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* libre-franklin-800italic - latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 800;
    src: url('./fonts/libre-franklin-v12-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/libre-franklin-v12-latin-800italic.woff') format('woff'); /* Modern Browsers */
    src: local('')
}
/* libre-franklin-900italic - latin */
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 900;
    src: url('./fonts/libre-franklin-v12-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/libre-franklin-v12-latin-900italic.woff') format('woff'); /* Modern Browsers */
    src: local('')
}